{% extends 'base_security.html.twig' %}

{% block confirm_email %}
    
    <div class="container">
        <h2>Please confirm your email</h2>
        <p>An email has been sent to your address with a link to confirm your account. Please check your inbox and click on the link.</p>
    </div>

{% endblock %}
