{% extends 'base_security.html.twig' %}

{% block reseted_password %}
    <div class="container">
        <h2>Success!</h2>
        <p>Your password was successfully reset. Press button below to Log In.</p>
        <a href="{{ path('app_login') }}" class="login-button">Log In</a>
    </div>
{% endblock %}
