{% extends 'base.html.twig' %}

{% block content %}
    <h2>Upload Image</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Upload</button>
    {{ form_end(form) }}
{% endblock %}
